{% extends 'SProvider/Header.html' %}

{% load static %}

{% block researchblock %}


<link rel="stylesheet" href="{% static 'css/style.css' %}">


<div class="chart-page">


    <div class="side-menu">

        <h3>
            <a href="{% url 'dislikeschart' 'pie' %}">
                PIE CHART
            </a>
        </h3>


        <h3>
            <a href="{% url 'dislikeschart' 'bar' %}">
                BAR CHART
            </a>
        </h3>


        <h3>
            <a href="{% url 'dislikeschart' 'spline' %}">
                SPLINE CHART
            </a>
        </h3>


    </div>



    <div class="chart-card">

        <div id="chartContainer"></div>

    </div>


</div>



<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>


<script>

window.onload = function(){


var chart = new CanvasJS.Chart("chartContainer",{


    animationEnabled:true,


    theme:"light2",


    title:{

        text:"Prediction Accuracy Ratio"

    },


    data:[{

        {% if dislike_chart == "bar" %}

        type:"column",

        {% elif dislike_chart == "pie" %}

        type:"pie",

        showInLegend:true,

        {% elif dislike_chart == "spline" %}

        type:"spline",

        {% else %}

        type:"column",

        {% endif %}


        indexLabel:"{label}: {y}",


        yValueFormatString:"##0.00%",


        dataPoints:[


        {% for o in form %}

        {

            y:{{o.dcount}},

            label:"{{o.names|escapejs}}"

        }


        {% if not forloop.last %},{% endif %}


        {% empty %}

        {

            y:0,

            label:"No Data"

        }

        {% endfor %}


        ]

    }]


});


chart.render();


}


</script>



{% endblock %}